<div class="row">
    <h1 class="heading">Northern Registration Numbers</h1>
    <div class="boo">

        <div>
            <a href="/dave">
                <label>
                    <button class="brandy" name="button">Add RegNum</button>
                </label></a>
        </div>
        
        <div>
            <a href="daves">
                <label>
                    <button class="brandy" name="button">Analysis Button</button>
                </label>
            </a>
        </div>


    </div>

</div>