<h1>Northern registration numbers</h1>

<form action="/views/rajesh.handlebars" method="GET">
  <div class="dropDown" >
    <select name="filter">
      <option value="all">All</option>
      <option value="MP">Mpumalanga</option>
      <option value="GP">Gauteng</option>
      <option value ="FS">Free State</option>
      <option value="L">Limpopo</option>
      <option value="EC">Eastern Cape</option>
      
    </select>

    <select>
      <option>All</option>
      <option>Visitor</option>
      <option>Regular</option>
      <option>Local</option>
    </select>
    <button type="submit" class="button-primary">Filter By</button>
  </div>
</form>
</div>