body{
    background-color: aqua;
}
h1{
    
    color:blue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.boo{text-align: center;
        display:flex
    }
#registration{
    border: 1em solid;
    border-radius: 0.5em;
    padding:2em;
    width:10em;
    margin:1em;
    text-align:center;
    display:inline-block;
    text-size-adjust: bold;
}
footer{
    padding-left:50%;
}
.brandy{
    background-color: blue;
    color:white;
    width:30%;
    display: flexbox;
    padding: 0.2em 16em 0.2em 10em;
}
